<style type="text/css">
html {
	height:100%;
}
div#footer{
width:auto;
background-color:#AADBE2;
border-top:dashed 1px #cccccc;
padding:10px;
text-align:center;
color:#777777;
font-size:95%
}

div#footer a:link,div#footer a:visited,divfooter a:active{
text-decoration:none;
color:#777777;
font-weight:normal
}

div#footer a:hover{
	color:#777777;
	font-weight:normal
	}
	
body{
	background :#AADBE2;
	font-family:tahoma,arial,sans-serif;
	font-size:0.8em;
	color:#000000;
	 margin: 0; 
	 height: 100%;
	 position: relative;

	}
	
	div#divleft
	{
    width : 10%;
    background : #00000;
    float : left;
	height: 100%;
	min-height : 100%;

}
 
div#divright{
    width : 10%;
    background : #AADBE2;
    float : right;
	height: 100%;

}
 
div#divmiddle{

    /* image */
		padding-left:10%;
	padding-right:10%;
	height: 100%;
	
    margin: auto; /* se placera automatiquement entre les deux */
}
a:hover{
	color:#000;
	font-weight:audacieux;
	text-decoration:underline
	}
	
	pre{
	overflow:auto;
	word-wrap:normal;
	padding-bottom:1.5em;
	overflow-y:hidden;w
	idth:99%
	}
	
abbr[title],acronym[title]{
	border-bottom:1px dotted
	}
	hr{
	display:block;
	height:2px;
	border:none;
	margin:0.5em auto;
	color:#cccccc;
	background-color:#cccccc
	}
	
a:link,a:visited,a:active{
	color:#046F93;
	font-weight:audacieux;
	text-decoration:aucun;}


div#menu{
margin-left: auto;
  margin-right: auto;	
  position: absolute;
  padding-left:10%;
  padding-right:10%;
  width:100%;
  clear:both;
}
#menu ul {
	 width:100%;
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 float:left;
 width:auto;
 margin:auto;
 padding:0;
  background-color:#30F;
     border-bottom-right-radius: 200px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 200px;

 }
#menu li ul li{
	background-color:#30F;
     border-bottom-right-radius: 200px;
border-top-left-radius: 200px;
border-top-right-radius: 200px;
border-bottom-left-radius: 200px;
}

#menu li a {
 display:block;
 width:160;
 height:20;
 color:#FFF;
 padding:0px;
 

 }
#menu li a:hover {
 color:#6FF;
 height:20;


 }
 
 #menu ul li ul {
 display:none;


 } /* permet de faire disparaitre les sous menu de l'affichage */
 
 #menu ul li:hover ul {
 display:compact;

 }
 /* fait apparaitre les sous-menu au passage de la souris */
#menu li:hover ul li {
 float:none;

 }
 /* les places de manière verticale */
 div.header-image-container{
	 position:relative;
	 margin:0;
	 padding:0;
	 height:150px;
	 }
 
</style>
